# Arquivos compilados
target/
*.class

# Logs
*.log
app.log

# Maven
.mvn/
mvn.cmd
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*~

